/* You can add global styles to this file, and also import other style files */

.colorfondoprincipal {
    color: #d4e0ee
}

.colortarjeta {
    color:  hsl(0, 0%, 100%)
}

.colortext {
    color: #0e1f37
}

.colorspan {
    color: #8c8d91
}

body {
    background-color: #d4e0ee;
}